


<a href="{{ path('sylius_shop_product_show', {'slug': product.slug, '_locale': product.translation.locale}) }}"><button type="submit" class="lezada-button lezada-button--small"> {{ 'show'|trans }}</button></a>