<div class="col-12 text-center">
    <button class="lezada-button lezada-button--medium mt-30"><a
                href="{{ path('sylius_shop_homepage') }}"> {{ 'sylius.ui.back_to_store'|trans }}</a></button>
    <button type="submit" id="next-step"
            class="lezada-button lezada-button--medium mt-30"> {{ 'sylius.ui.next'|trans }}</button>
</div>
