<div class="tab-product-navigation tab-product-navigation--product-desc mb-50">
    <div class="nav nav-tabs justify-content-center" id="nav-tab2" role="tablist">
        <a class="nav-item nav-link active" id="product-tab-1" data-toggle="tab"
           href="#product-series-1" role="tab" aria-selected="true">{{ 'sylius.ui.details'|trans }}</a>
        <a class="nav-item nav-link" id="product-tab-2" data-toggle="tab"
           href="#product-series-2" role="tab" aria-selected="false">{{ 'sylius.ui.attributes'|trans }}</a>
        <a class="nav-item nav-link" id="product-tab-3" data-toggle="tab"
           href="#product-series-3" role="tab" aria-selected="false">{{ 'sylius.ui.reviews'|trans }} ({{ product.acceptedReviews|length }})</a>

    </div>
</div>
