<h1 class="ui header">
    <div class="text-center mt-40 mb-60">{{ 'sylius.ui.browse_your_orders_from_the_past'|trans }}</div>
    {{ sonata_block_render_event('sylius.shop.account.order.index.header', {'orders': orders}) }}
</h1>
