<hr/>
<div class="row justify-content-center">
    <div class="text-center col-12">
        {% include '@SyliusShop/Common/Order/_payments.html.twig' %}
    </div>
    <div class="text-center col-12">
        {% include '@SyliusShop/Common/Order/_shipments.html.twig' %}
    </div>
</div>
<hr/>
{% include '@SyliusShop/Common/Order/_addresses.html.twig' %}
{% include '@SyliusShop/Common/Order/_table.html.twig' %}


