
{% import "@SyliusShop/Common/Macro/money.html.twig" as money %}


                <div class="col-12 col-lg-3 col-md-6 col-sm-6 mb-45">

                    <div class="single-product">
                        <!--=======  single product image  =======-->

                        <div class="single-product__image">
                            <a class="image-wrap"
                               href="{{ path('sylius_shop_product_show', {'slug': product.slug, '_locale': product.translation.locale}) }}">
                                {% include '@SyliusShop/Product/_mainImage.html.twig' with {'product': product} %}
                                {% include '@SyliusShop/Product/_secondImage.html.twig' with {'product': product} %}
                            </a>


                        </div>

                        <!--=======  End of single product image  =======-->

                        <!--=======  single product content  =======-->

                        <div class="single-product__content">
                            <div class="title">
                                <h3><a>{{ product.name }}</a></h3>
                                {% if not product.simple %}
                                    <a>{% include '@SyliusShop/Product/Show/_notSimpleShow.html.twig' %}</a>
                                {% else %}
                                    <a>{% include '@SyliusShop/Product/Show/_inventory.html.twig' %}</a>
                                {% endif %}
                            </div>
                            {% if not product.variants.empty() %}
                                <div class="price mt-20">
                                    <span class="main-price discounted">{{ money.calculatePrice(product|sylius_resolve_variant) }}</span>
                                    <span class="discounted-price">{{ money.calculatePrice(product|sylius_resolve_variant) }}</span>
                                </div>
                            {% endif %}
                        </div>

                        <!--=======  End of single product content  =======-->
                    </div>
                    <!--=======  End of single product  =======-->
                </div>



