
/*=============================================
=            16. About            =
=============================================*/


/*----------  about video bg area  ----------*/

.about-video-bg-area{

    position: relative;

    .video-text{
        font-size: 14px;
        line-height: 24px;
        text-align: center;
        font-weight: 400;
        font-style: normal;
        transform: rotate(-90deg) translateY(-50%);
        letter-spacing: 1px;
        top: 50%;

        @media #{$large-mobile}{
            display: none;
        }

        a{
            color: #333333;

            &:hover{
                opacity: 0.85;
            }
        }
    }


    .video-text-left{
        position: absolute;
        left: -10%;
        
    }


    .video-text-right{
        position: absolute;
        right: -10%;
    }

    .play-icon{
        a{
            
            img{
                transition: 0.6s;
                transform: scale(1);
            }
            &:hover{

                img{
                    transform: scale(1.2);
                }
            }
        }
    }

    h1{
        font-size: 40px;
        color: #ffffff;
        line-height: 50px;
        text-align: center;
        font-weight: 500;
        font-style: normal;
        letter-spacing: 12px;
    }

    
}


/*----------  about page text  ----------*/

.about-page-text{
    font-size: 15px;
    line-height: 26px;
    color: #7e7e7e;
    letter-spacing: 0.5px;
}


/*----------  about two page text block   ----------*/

.about-single-block{
    p{
        font-size: 15px;
        line-height: 26px;
        margin-bottom: 40px;

        &.subtitle{
            font-size: 14px;
            line-height: 24px;
            color: #333;
            font-weight: 500;
            margin-bottom: 20px;
        }
    }

    h1{
        font-size: 34px;
        line-height: 48px;
        color: #333;
        font-weight: 400;
        margin-bottom: 30px;
    }

    a{
        font-size: 14px;
        color: #333;
        font-weight: 500;
        letter-spacing: 1px;
        border-bottom: 1px solid #ccc;

        &:hover{
            border-color: #333;
        }
    }
}



/* about section */

.about-section-content{
    .subtitle{
        font-size: 24px;
        font-weight: 700;

        @media #{$large-mobile}{
            font-size: 16px;
        }
    }

    .title{
        font-size: 36px;
        font-weight: 700;

        @media #{$large-mobile}{
            font-size: 28px;
        }
    }

    @media #{$large-mobile}{
        margin-bottom: 30px;
    }
}

.about-section-image{

}

/*=====  End of 16. About  ======*/

