
    <div class="container">
        <div class="col-lg-12 order-1 order-lg-2 mt-80 mb-md-80 mb-sm-80">
            <div class="row product-isotope shop-product-wrap four-column">
                <!--=======  single product  =======-->
                {% for product in products %}
                    {% include '@SyliusShop/Product/Preference/index.html.twig' %}
                {% endfor %}
            </div>
        </div>
    </div>