
/*=============================================
=            19. Brands            =
=============================================*/

.single-brand{
    text-align: center;

    a{
        img{
            opacity: 0.85;
        }

        &:hover{
            img{
                opacity: 1;
            }
        }
    }
}

/*=====  End of 19. Brands  ======*/

